/* Initial style for popup */
.initial {
  display: flex;
  width: 165px;
  height: 55px;
  margin:10px;
  background: #F6FFFC;
  align-items: center;
  justify-content: center;
  box-shadow: #f2f2f2;
}
.summary{
  color:black;
}
.button{
  width: 170px;
  height: 55px;
  justify-content: center;
  background: #08242D;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.button::after{
  content: "Find Top Professors";
}
.loading::after{
  content: "Loading...";
}
/* Expanded style for popup */
body.expanded {
  width: 280px;
  height: 400px;
  transition: all ease .3s;
}

/* Your existing .container and .child-container styles go here */

.container {
  display: flex;
  color: white;
  background-color: #DEE1ED;
  justify-content: space-evenly;
  align-items: center;
  margin : 0 auto;
  width: 260px;
  height: 450px;
  flex-direction: column;
  margin-top: 0.95rem;

}
  
.child-container {
  width: 95vw;  /* relative to its parent */
  height: 29%;  /* relative to its parent */
  background-color: #08242D;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin: 0;
  border-radius: 5%;
  overflow: hidden; 
  transition: step-end ease .75s;
  padding: 0.25rem auto;  /* Margin of 0.5rem at top and bottom */
  text-align: center;
  line-height: 1;  /* relative to its height */
  cursor: pointer;
}

.child-container.expanded {
  height: 98%;
}

.card_left{

  width: 89%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
}

.arrow{
  width: 22px;
  height: 22px;
  margin-bottom: 0.75rem;
}

.card_right{
  display: flex;
  width: 11%;
  align-items: center;
  justify-content: center;
}

.card_rating1{
  align-items: center;
}

.card_titles {
    display: flex;
    height: 2%;
    width: 32%;
    margin-left: 0.4rem;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.card_title {
  font-size: 14px;
  font-weight: bold;
  padding: 19.2px;
  flex-direction: column;
  white-space: nowrap;
  width: 34%;
}
.card_ratings{
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
}
.card_rating{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  font-size: 16px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card_bottom{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.card_name{
  font-size: 16px;
  margin-left: 1.84rem;
}
.card_cart{
  width: 47px;
  height: 47px;
  backdrop-filter: drop-shadow(2px 4px 6px black);
  overflow: overlay;
}

.rating-1 {
  background-color: #00ff00;  /* Full Green */
}

.rating-2 {
  background-color: #22dd22;
}

.rating-3 {
  background-color: #59c459;
}

.rating-4 {
  background-color: #75b175;
}

.rating-5 {
  background-color: #dcda87;
}

.rating-6 {
  background-color: #f3b353;
}

.rating-7 {
  background-color: #ef7a26;
}

.rating-8 {
  background-color: #ff5d5d;
}

.rating-9 {
  background-color: #f92d2d;  /* Full Red */
}

.rating-10 {
  background-color: #a50000;  /* Full Red */
}
